<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	RewriteCond %{REQUEST_URI} !^/templates
	RewriteCond %{REQUEST_URI} !^/static
	RewriteCond %{REQUEST_URI} !^(/.*)+analysis.py/
	RewriteRule ^(.*)$ analysis.py/$1 [PT]
</IfModule>
Options +ExecCGI
AddHandler cgi-script .py
